<?xml version="1.0" encoding="utf-8" ?> <!--WebConfig header @0-EFBEC7D5-->

<!--WebConfig @0-8024FE8A-->
<configuration>
  <configSections>
    <sectionGroup name="connectionCommands">
      <section name="_calendarCommands"
       type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
    </sectionGroup>
  <section name="locales" type="calendar.LocalesConfigHandler"/>
  </configSections>  
   
<!--End WebConfig-->

<!--WebConfig appSettings @0-B7AA2BD3-->
  <appSettings>
  

	<add key="calendarString" value="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=C:\Inetpub\wwwroot\vcalendar_cs\install\vcalendar.mdb;Persist Security Info=False;User ID=Admin;Password="/>
      <add key="calendarType" value="OleDb"/>
	  <add key="calendarServer" value="MSAccess"/>
	  <add key="calendarDateFormat" value="yyyy-MM-dd HH\:mm\:ss"/>
      <add key="calendarBoolFormat" value="true;false"/>
      <add key="calendarDateRightDelimeter" value="#"/>
      <add key="calendarDateLeftDelimeter" value="#"/>
      <add key="calendarOptimized" value="True"/>
  
      <add key="ServerUrl" value="http://localhost/vcalendar_cs2/"/>
      <add key="SecuredUrl" value=""/>
    
      <add key="CultureId" value=""/>
      <add key="SiteLanguage" value="en"/>
	  <add key="AccessDeniedUrl" value="login.aspx"/>
      <add key="DefaultDateFormat" value="d"/>
      <add key="DefaultBooleanFormat" value=""/>
  </appSettings>
   
<!--End WebConfig appSettings-->

<!--Conection commands @0-63939B8C-->
  <connectionCommands>
    <_calendarCommands>
     
    </_calendarCommands>
  </connectionCommands>
   
<!--End Conection commands-->

<!--Locales @0-DDD69B0A-->
  <locales>
	<locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="Yes;No;" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;T;W;T;F;S" encoding="utf-8" />
	<locale language="de" country="" defaultCountry="DE" name="de-DE" booleanFormat="Ja;Nein;" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;D;M;D;F;S" encoding="utf-8" />
	<locale language="ru" country="" defaultCountry="RU" name="ru-RU" booleanFormat="Да;Нет;" zeroFormat="" nullFormat="" weekdayNarrowNames="В;П;В;С;Ч;П;С" encoding="utf-8" />
  </locales>
   
<!--End Locales-->

<!--WebConfig system.web header @0-DB152CF3-->
  <system.web>
  
<!--End WebConfig system.web header-->

<!--Authentication @0-22F18997-->
	<authentication mode="Forms" >
         <forms loginUrl="login.aspx"/>
    </authentication>
	<membership defaultProvider="CCSMembershipProvider">
		<providers>
			<add connectionString="calendar" name="CCSMembershipProvider" type="calendar.Security.CCSMembershipProvider"
			tableName = "users"
			userIdField = "user_id"
			userLoginField = "user_login"
			userPasswordField = "user_password"
			userGroupField = "user_level"
			userIdSessionVariable = "UserID"
			userGroupSessionVariable = "GroupID"
			userLoginSessionVariable = "UserLogin"
			/>
		</providers>
	</membership>
	
<!--End Authentication-->

<!--WebConfig system.web @0-B6B7FB24-->

	<compilation
         defaultLanguage="C#" debug="true">
		 <assemblies>
			<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			
		 </assemblies>
	</compilation>


    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors 
	 mode="Off" 
    /> 

   
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
	localOnly="true"
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
			requestEncoding="windows-1251"
			responseEncoding="windows-1251"
			fileEncoding="utf-8"
   />

   
 </system.web>

</configuration>

<!--End WebConfig system.web-->

